@import "tailwindcss";

:root {
  /* rgb(245, 243, 239) */
  --background: oklch(0.964 0.0175 95);
  /* --background: rgb(245, 243, 239); */
  /* rgb(24, 24, 24) */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: "ui-monospace", "SFMono-Regular", var(--font-geist-mono), "Menlo",
    "Monaco", "Consolas", "monospace";
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Selection styling for headings and paragraphs */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background: #000;
  color: #fff;
}
