@import "tailwindcss";

:root {
  --background: var(--color-neutral-900)
  --foreground: var(--color-neutral-100);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: "ui-monospace", "SFMono-Regular", var(--font-geist-mono), "Menlo",
    "Monaco", "Consolas", "monospace";
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Selection styling for headings and paragraphs */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background: #000;
  color: #fff;
}
